@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200;300;400;500;600;700&display=swap');

/* Variables Que Se Utilizaran */

:root {
    --color1: #011310;
    --color2: #01BF99;
    --color3: #04302A;
    --texto1: #ffffff;
}

/* Estilos Generales Para Toda La Pagina */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: var(--color1);
    font-family: 'Krub', sans-serif;
}

/* Estilos Para El Encabezado De La Pagina */

.header__container {
    background-color: var(--color3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    padding: 20px;
}

.header__titulo {
    display: flex;
    align-items: center;
}

.header__titulo img {
    width: 150px;
    height: 150px;
}

.header__titulo h1 {
    color: var(--texto1);
    font-size: 40px;
    font-weight: bold;
}

.header__menu ul {
    display: flex;
}

.header__menu ul li a {
    margin-left: 20px;
    color: var(--texto1);
    font-size: 22px;
}

.header__menu ul li a:hover {
    color: var(--color2);
}

.header__info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15%;
    /* background-color: #01BF99; */
}

.header__info-textos {
    padding: 20px;
    color: var(--texto1);
}

.header__info-textos h2 {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

.header__info-textos h4 {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 2px;
}

/* Seccion formulario de compra */

.contenedor__formulario {
    margin: 20px 0px;
    /* background-color: #01BF99; */
}

.contenedor__formulario h2 {
    color: var(--color2);
    font-size: 30px;
    text-align: center;
}

.contenedor__formulario-form img {
    width: 200px;
    height: auto;
    display: block; /* Añadimos display:block para eliminar espacios verticales si los hubiera */
    margin: 20px auto; /* Esto centrará la imagen horizontalmente */
}

.contenedor__formulario-form form {
    display: flex;
    flex-direction: column;
    margin: 40px 120px;
}

.contenedor__formulario-form-group {
    display: flex;
    flex-direction: column;
}

.contenedor__formulario-form-group label {
    font-size: 22px;
    font-weight: 800;
    color: var(--color2);
    margin: 10px 0px;
}

.contenedor__formulario-form-group input { 
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    font-size: 16px;
}

.contenedor__formulario-form-group input::placeholder {
    font-size: 16px;
}

.contenedor__formulario-form-group input:focus {
    box-shadow: 0 0 5px 4px rgba(1, 191, 153, .5);
}

.contenedor__formulario-form-group textarea {
    padding: 10px;
    font-size: 16px;
    resize: none;
    outline: none;
    border: none;
}

.contenedor__formulario-form-group textarea:focus {
    box-shadow: 0 0 5px 4px rgba(1, 191, 153, .5);
}

.buttons {
    padding: 10px;
    margin: 4px 0px;
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    background-color: var(--color2);
    color: var(--texto1);
    font-size: 16px;
    cursor: pointer;
}

.buttons:hover {
    background-color: #028a6f;
}

/* Pie de Pagina */

footer {
    display: flex;
    flex-direction: column;
    background-color: #011814;
    padding: 20px;
    margin-top: 40px;
    height: 40vh;
}

.footer__contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer__contenedor h4 {
    margin-bottom: 10px;
    font-size: 26px;
    color: var(--color2);
}

.redes__sociales {
    text-align: center;
}

.redes__sociales a i {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000e0b;
    color: var(--texto1);
    font-size: 18px;
    padding: 10px;
}

.redes__sociales a i:hover {
    background-color: var(--color2);
}

.enlaces__importantes {
    text-align: center;
}

.enlaces__importantes a {
    display: flex;
    color: var(--texto1);
}

.enlaces__importantes a:hover {
    text-decoration: underline;
}

.contacto {
    color: var(--texto1);
}

footer span {
    width: 100%;
    height: 4px;
    background-color: var(--color2);
    text-align: center;
}

footer h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 26px;
    color: var(--color2);
    text-align: center;
}

@media (max-width: 680px) {
    .header__container {
        height: 26vh;
        flex-direction: column;
        padding: 20px;
    }

    .header__titulo img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    
    .header__titulo h1 {
        font-size: 30px;
    }
    
    .header__menu ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    
    .header__menu ul li a {
        flex-basis: 30%;
        justify-content: center;
        margin-left: 10px;
        font-size: 18px;
    }

    .contenedor__formulario-form form {
        display: flex;
        flex-direction: column;
        margin: 40px;
    }

    footer {
        height: 60vh;
    }
    
    .footer__contenedor {
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    .footer__contenedor h4 {
        margin-bottom: 10px;
        font-size: 22px;
        color: var(--color2);
    }
    
    .redes__sociales {
        text-align: center;
    }
    
    .redes__sociales a i {
        margin-left: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #000e0b;
        color: var(--texto1);
        font-size: 18px;
        padding: 10px;
    }
    
    .redes__sociales a i:hover {
        background-color: var(--color2);
    }
    
    .enlaces__importantes {
        text-align: center;
    }
    
    .enlaces__importantes a {
        display: flex;
        color: var(--texto1);
    }
    
    .enlaces__importantes a:hover {
        text-decoration: underline;
    }
    
    .contacto {
        color: var(--texto1);
    }
    
    footer span {
        width: 100%;
        height: 4px;
        background-color: var(--color2);
        text-align: center;
    }
    
    footer h4 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 22px;
        color: var(--color2);
        text-align: center;
    }
}

@media (max-width: 400px) {
    .header__container {
        height: 26vh;
        flex-direction: column;
        padding: 20px;
    }

    .header__titulo img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    
    .header__titulo h1 {
        font-size: 30px;
    }
    
    .header__menu ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    
    .header__menu ul li a {
        flex-basis: 30%;
        justify-content: center;
        margin-left: 10px;
        font-size: 18px;
    }

    .contenedor__formulario h2 {
        font-size: 24px;
    }    

    .contenedor__formulario-form form {
        display: flex;
        flex-direction: column;
        margin: 40px;
    }

    .contenedor__formulario-form-group label {
        font-size: 20px;
    }

    footer {
        height: 60vh;
    }
    
    .footer__contenedor {
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    .footer__contenedor h4 {
        margin-bottom: 10px;
        font-size: 22px;
        color: var(--color2);
    }
    
    .redes__sociales {
        text-align: center;
    }
    
    .redes__sociales a i {
        margin-left: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #000e0b;
        color: var(--texto1);
        font-size: 18px;
        padding: 10px;
    }
    
    .redes__sociales a i:hover {
        background-color: var(--color2);
    }
    
    .enlaces__importantes {
        text-align: center;
    }
    
    .enlaces__importantes a {
        display: flex;
        color: var(--texto1);
    }
    
    .enlaces__importantes a:hover {
        text-decoration: underline;
    }
    
    .contacto {
        color: var(--texto1);
    }
    
    footer span {
        width: 100%;
        height: 4px;
        background-color: var(--color2);
        text-align: center;
    }
    
    footer h4 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 22px;
        color: var(--color2);
        text-align: center;
    }
}